body {
  font: 14px/1.5 "Microsoft YaHei",sans-serif;
  color: #333; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html {
  width: 100%; }

body {
  background-color: white;
  font-size: 16px;
  width: 100%;
  height: 100%; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

a {
  text-decoration: none; }

.index_header {
  background-color: #ffffff; }

.index_header_content {
  width: 1260px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logoImg {
  height: 44px;
  width: 200px;
  margin-left: 20px; }

.searchDiv input:first-child {
  width: 450px;
  height: 43px;
  font-size: 18px;
  margin-right: -6px; }

.searchDiv input:last-child {
  width: 82px;
  height: 48px;
  font-size: 16px;
  color: #ffffff;
  background-color: #e80000;
  border: 1px solid transparent; }

.fansImg {
  width: 160px;
  height: 76px;
  margin-right: 80px; }

.navBox {
  height: 44px;
  background-color: #000000; }

.navBox_box {
  width: 1260px;
  height: 44px;
  margin: 0 auto;
  display: flex; }

.nav_leftBox {
  width: 205px;
  height: 44px;
  background-color: #e80000; }

.nav_leftBox span:first-child {
  color: white;
  font-size: 14px;
  line-height: 44px;
  margin-left: 21px; }

.nav_leftBox .downSpan {
  display: inline-block;
  margin-left: 38px;
  width: 19px;
  height: 14px;
  line-height: 44px;
  background-image: url(../img/down.png); }

.nav_leftBox .fenleiBox {
  position: absolute;
  z-index: 999;
  width: 205px;
  height: 480px;
  background-color: black;
  opacity: 0.8;
  display: block; }

.fenleiBox .fenleiUl {
  width: 180px;
  padding: 20px 20px 20px 17px; }

.fenlei_li {
  margin-bottom: 20px; }

.fenleiBox .fenleiUl a {
  color: #ffffff; }

.fenlei_li_box a {
  font-size: 13px;
  padding: 0px 10px 0px 0px; }

.nav_rightBox {
  display: flex;
  position: relative; }

.nav_r_list {
  width: 85px;
  height: 44px;
  line-height: 44px;
  text-align: center; }

.nav_r_list:hover {
  background-color: #666666; }

.nav_r_list a {
  color: white; }

.nav_r_list_content {
  width: 562px;
  height: 320px;
  position: absolute;
  left: 0px;
  top: 44px;
  background-color: white;
  opacity: 0.9;
  display: none; }

.nav_r_list:hover .nav_r_list_content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; }

.nav_r_list_content img {
  display: block;
  width: 190px;
  height: 220px; }

.list_content_box {
  width: 280px;
  line-height: 25px;
  margin-top: 20px; }

.list_content_box a:hover {
  color: #e80000;
  text-decoration: underline; }

.l_content_juti {
  margin-left: 20px;
  margin-bottom: 10px; }

.l_content_juti .title_a {
  display: block;
  width: 270px;
  color: #e80000;
  text-align: left;
  border-bottom: 1px dashed #666666;
  margin-bottom: 5px; }

.neirong_a {
  text-align: left; }

.neirong_a a {
  color: black;
  font-size: 12px;
  margin-right: 10px; }

.neirong_a .remen_a {
  background-color: #e80000;
  color: white;
  padding: 2px 20px 2px 20px; }

.neirong_a .remen_a:hover {
  color: white; }

.slider {
  width: 100%;
  height: 480px; }

.slideBox {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
  margin: 0 auto; }

.slideBox .hd {
  width: 80%;
  height: 30px;
  overflow: hidden;
  position: absolute;
  bottom: 2px;
  z-index: 1;
  left: 28%;
  bottom: 1px; }

.slideBox .hd ul {
  overflow: hidden;
  zoom: 1;
  float: left; }

.slideBox .hd ul li {
  float: left;
  margin-right: 1px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #999;
  cursor: pointer; }

.slideBox .hd ul li.on {
  background: #f00;
  color: #fff; }

.slideBox .bd {
  position: relative;
  height: 100%;
  z-index: 0; }

.slideBox .bd li {
  zoom: 1;
  vertical-align: middle; }

.slideBox .bd img {
  width: 100%;
  height: 480px;
  display: block; }

.slideBox .prev,
.slideBox .next {
  position: absolute;
  left: 23%;
  top: 50%;
  margin-top: -25px;
  display: block;
  width: 32px;
  height: 40px;
  background: url(../img/slider-arrow.png) -110px 5px no-repeat;
  filter: alpha(opacity=50);
  opacity: 0.6; }

.slideBox .next {
  left: auto;
  right: 12%;
  background-position: 8px 5px; }

.slideBox .prev:hover,
.slideBox .next:hover {
  filter: alpha(opacity=100);
  opacity: 1; }

.slideBox .prevStop {
  display: none; }

.slideBox .nextStop {
  display: none; }

.tese_sever {
  width: 100%; }

/*leaves*/
#leaves {
  width: 1263px;
  margin: 30px auto; }

#leaves a:nth-child(2) {
  margin-right: 25px;
  margin-left: 25px; }

#leaves a:nth-child(3) {
  margin-right: 25px; }

#leaves img:hover {
  transform: translateY(-10px);
  transition: all 1s; }

.goods_interview {
  width: 1263px;
  margin: 0 auto; }

.g_i_top {
  margin-top: 30px; }

.g_i_top a {
  color: #fff; }

.g_i_top #layn1 {
  width: 1263px;
  height: 42px;
  background: black;
  margin: 0 auto; }

.g_i_top li {
  color: white;
  line-height: 42px; }

#layn1 > li:first-child {
  float: left; }

.layn1_left {
  margin-left: 20px; }

.layn1_left span, .layn1_left a {
  font-size: 18px; }

.layn1_right {
  float: right;
  margin-right: 35px; }

#layn2 li {
  float: left;
  font-size: 14px;
  text-align: center; }

#layn2 li:nth-child(1), #layn2 li:nth-child(2), #layn2 li:nth-child(3), #layn2 li:nth-child(4) {
  width: 90px;
  height: 40px;
  margin-right: 20px; }

#layn2 li:nth-child(1):hover, #layn2 li:nth-child(2):hover, #layn2 li:nth-child(3):hover, #layn2 li:nth-child(4):hover {
  background: #e80000; }

#layn2 li:nth-child(5) {
  margin-left: 35px; }

#storesTable {
  width: 1260px;
  height: 476px;
  border-top: 1px solid #f5f5f5;
  margin: 20px auto 0 auto; }

#stores_left {
  width: 242px;
  height: 476px;
  float: left; }

#stores_center {
  height: 476px; }

#stores_center img {
  display: block;
  width: 236px;
  height: 484px; }

#storesTable div {
  float: left; }

#stores_left div:nth-child(1) {
  width: 242px; }

#stores_left div:nth-child(1) a {
  width: 120px;
  height: 50px;
  float: left;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5; }

#stores_left div:nth-child(2) {
  width: 242px;
  height: 112px;
  margin-bottom: 16px; }

#stores_left div:nth-child(2) a {
  width: 120px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
  float: left;
  color: #666666; }

#stores_right {
  width: 780px; }

#stores_right ul {
  width: 780px;
  overflow: hidden; }

#stores_right ul li {
  padding-top: 5px;
  width: 259px;
  height: 236px;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#stores_right ul li p {
  font-size: 12px;
  line-height: 10px;
  margin-top: 10px;
  font-weight: 600; }

#stores_right li img:hover {
  transform: translateX(-10px);
  transition: all 1s; }

.shequ {
  width: 100%;
  height: 274px;
  margin-top: 38px; }

.shequBox {
  width: 1260px;
  height: 274px;
  border: 1px solid #eeeeee;
  margin: 0 auto; }

.shequ_box {
  width: 251px;
  height: 274px;
  border-right: 1px solid #eeeeee;
  float: left; }

.shequ_span {
  margin-left: 10px;
  margin-top: 10px; }

.shequ_a {
  display: inline-block;
  margin-top: 10px;
  width: 145px;
  color: #999;
  font-size: 10px;
  text-align: right; }

.shequ_a:hover {
  text-decoration: underline; }

.shequ_bgImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee; }

.shequ_bg_juti {
  width: 88px;
  height: 32px;
  display: flex;
  align-items: center; }

.shequ_bg_juti .bg_juti_span {
  width: 36px;
  height: 30px; }

.shequ_bgImg .shequ_bg_juti:nth-child(1) .bg_juti_span {
  background: url(../img/imgx35x35.png) -2px -211px no-repeat; }

.shequ_bgImg .shequ_bg_juti:nth-child(2) .bg_juti_span {
  background: url(../img/imgx35x35.png) -2px -316px no-repeat; }

.shequ_bgImg .shequ_bg_juti:nth-child(3) .bg_juti_span {
  background: url(../img/imgx35x35.png) -2px -245px no-repeat; }

.shequ_bgImg .shequ_bg_juti:nth-child(4) .bg_juti_span {
  background: url(../img/imgx35x35.png) -2px -281px no-repeat; }

.shequ_bg_juti a {
  width: 70px;
  text-align: center;
  font-size: 10px;
  color: #666666;
  float: left; }

.shequ_bg_juti a:hover {
  color: #e80000; }

.jifen_span {
  font-size: 12px;
  text-align: center;
  line-height: 33px;
  color: #666;
  display: block;
  width: 162px;
  height: 33px;
  border: 1px solid #eeeeee;
  margin: 10px auto 0px; }

.jifen_span:hover {
  color: #e80000;
  text-decoration: none; }

.zixun_box {
  height: 200px;
  width: 210px;
  margin: 0 auto; }

.zixun_box a {
  display: block;
  width: 200px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.zixun_box a:hover {
  color: #e80000;
  text-decoration: underline; }

.useful_img {
  display: block;
  margin: 20px auto 5px; }

.jiage_box {
  width: 240px;
  height: 64px;
  padding: 10px 10px 0px 46px; }

.jiage_box .shoujia_span {
  display: inline-block;
  width: 120px;
  font-weight: 800;
  font-size: 14px; }

.jiage_box .yuanjia_span {
  font-size: 12px;
  color: #999999; }

.jiage_box .jiagexinxi_box {
  width: 200px;
  color: #999999; }

.ceping_slider {
  width: 210px;
  height: 190px;
  background-color: cyan;
  margin: 20px auto; }
