@charset "UTF-8";
body {
  font: 14px/1.5 "Microsoft YaHei", sans-serif;
  color: #333; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

html {
  width: 100%; }

body {
  background-color: white;
  font-size: 16px;
  width: 100%;
  height: 100%; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

a {
  text-decoration: none; }

/*
商品详细页面
*/
.init_goods {
  width: 100%;
  height: 100%;
  background-color: white;
  border-top: 1px solid #999999; }

.init_fatherBox {
  width: 1260px;
  height: 100%;
  margin: 0 auto; }

.init_header_box,
.init_paixu_box {
  height: 44px;
  background-color: #f5f5f5;
  margin-bottom: 10px; }

.init_hb_span,
.init_pb_span {
  display: block;
  width: 400px;
  height: 44px;
  line-height: 44px;
  font-size: 12px;
  margin-left: 20px; }

.init_hb_span a {
  color: #999999; }

.init_hb_span a:hover {
  color: #e80000;
  text-decoration: underline; }

.init_hb_span .screh_result {
  color: goldenrod; }

.init_shaixuan_box {
  height: 228px;
  border: 1px solid #cdcdcd;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.init_shaibox {
  width: 1200px;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  margin: 0 auto;
  display: flex; }

.init_shaibox a {
  display: inline-block;
  width: 60px;
  height: 35px;
  font-size: 12px;
  text-align: center;
  font-family: 黑体, Arial, Helvetica, sans-serif; }

.init_shaibox:last-child a {
  width: 35px; }

.init_shaibox a:hover {
  color: #e80000;
  text-decoration: underline; }

.init_shaibox input {
  display: inline-block;
  width: 60px;
  height: 18px;
  font-family: 黑体, Arial, Helvetica, sans-serif; }

#init_sbox_serchInput {
  border: 1px solid #999999;
  height: 22px;
  background-color: white; }

.init_shaibox_totaldiv {
  width: 50px;
  text-align: center;
  border-right: 1px solid #999999; }

.init_shaibox_span {
  display: inline-block;
  width: 1150px;
  height: 35px; }

.init_pb_span a {
  font-size: 12px;
  color: #999999;
  margin-left: 10px; }

.init_pb_span a:hover {
  color: #e80000; }

.init_pb_span a:first-child:hover {
  text-decoration: underline; }

.init_pb_span span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-color: white;
  background: url(../img/signICON_12x12.png) no-repeat; }

.init_goods_detial {
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.init_gd_symple {
  width: 291px;
  height: 405px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: 黑体, Arial, Helvetica, sans-serif; }

.init_gd_symple:hover {
  box-shadow: 0px 3px 3px 3px #E6E6E6; }

.init_gd_imgbox {
  width: 100%;
  height: 290px;
  cursor: pointer;
  position: relative; }

#goods_cartbox {
  width: 27px;
  height: 27px;
  background: url(../img/signICON_26x26.png) -52px 0px no-repeat;
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: none; }

.init_gd_imgbox {
  width: 100%;
  height: 290px;
  cursor: pointer;
  position: relative; }

.init_gd_imgbox:hover #goods_cartbox {
  display: block; }

.init_gd_chooseImg {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center; }

.init_gd_chooseImg img {
  height: 30px;
  width: 30px;
  display: block;
  margin-left: 5px;
  border: 1px solid #f5f5f5; }

.init_gd_chooseImg img:hover {
  border: 1px solid #999999; }

.goods_nameBox {
  font-size: 14px;
  color: #999999;
  text-indent: 10px; }

.init_jiageBox {
  height: 45px;
  line-height: 45px; }

.init_xianjia_span {
  font-size: 28px;
  color: #e80000;
  font-weight: 800;
  font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
  margin-left: 10px; }

.init_yuanjian_span {
  text-decoration: line-through; }

.init_tiaozhuan_box {
  height: 40px; }

.page_button_a {
  display: inline-block;
  border: 1px solid #dfdfdf;
  margin-left: 3px;
  padding: 0px 5px 0px 5px;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  font-size: 12px;
  color: #666666; }

.page_button_a:hover {
  text-decoration: underline;
  color: #e80000; }

#tiaozhuan_input {
  display: inline-block;
  width: 50px; }

#qued_input {
  display: inline-block;
  width: 40px;
  border: 1px solid #999999;
  height: 22px;
  background-color: white;
  margin-left: 5px;
  cursor: pointer; }

.init_tiaozhuan_box span {
  font-size: 12px;
  margin-left: 10px; }

#total_tiaoshu,
#total_yeshu {
  color: #e80000; }
