@charset "UTF-8";
body {
  font: 14px/1.5 "Microsoft YaHei",sans-serif;
  color: #333; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html {
  width: 100%; }

body {
  background-color: white;
  font-size: 16px;
  width: 100%;
  height: 100%; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

a {
  text-decoration: none; }

/*
登录区域
*/
.login_part {
  width: 1260px;
  height: 620px;
  background-color: white;
  margin: 30px auto;
  display: flex;
  align-items: center; }

.login_div {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center; }

.space_div {
  width: 100px;
  height: 487px;
  background: url(../img/space.jpg) 30px 0px no-repeat; }

.login_div_left {
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.login_div_right {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.l_dleft_ul {
  width: 220px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.l_dleft_ul li:nth-child(2) {
  margin-top: 20px; }

.l_dright_div {
  width: 300px;
  height: 424px;
  margin-left: 20px; }

.l_dright_dlu {
  height: 215px; }

.l_dright_dlu input {
  display: block;
  height: 40px;
  width: 280px;
  margin: 20px 0px;
  padding-left: 5px;
  outline: #999999; }

.l_dright_dlu span {
  display: inline-block;
  height: 40px;
  width: 130px;
  background-color: #e80000;
  color: white;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px; }

.l_dright_dlu .login_user_p {
  height: 15px;
  font-size: 12px;
  color: #e80000;
  text-align: center; }

.l_dright_dlu a {
  display: inline-block;
  font-size: 14px;
  color: #333333;
  width: 125px;
  text-align: center; }

.l_dright_dlu a:hover {
  color: #e80000;
  text-decoration: underline; }

.l_dright_bdiv {
  border-top: 1px dashed #999999; }

.l_dright_bdiv p {
  font-size: 12px;
  color: #999999;
  text-align: center;
  margin: 10px auto; }

.partener_a {
  width: 150px;
  height: 41px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.l_dright_bdiv .partener_a a {
  width: 28px;
  height: 26px;
  background: url(../img/buttonLoginICON_95x23.png) no-repeat; }

.l_dright_bdiv .partener_a a:nth-child(1) {
  background-position: -1px -1px; }

.l_dright_bdiv .partener_a a:nth-child(2) {
  background-position: -1px -26px; }

.l_dright_bdiv .partener_a a:nth-child(3) {
  background-position: -1px -51px; }

.l_dright_bdiv .partener_a a:nth-child(4) {
  background-position: -1px -101px; }
